:root {
    --white-bg: #F2F2F2;
    --blue-std: #25C7D9;
    --green-dark: #3255e1;
    --green-mid: #6580eb;
    --green-light: #9badf6;
    --text-black: #0D0D0D;
    --blue-bg: #5269c7;
   
    font-family: "rawline", helvetica, arial, sans-serif;
  }

.navbar {
    display: flex;
    height: 120px;
    margin-bottom: 1rem;
    width: 100vw; 
    flex-wrap: wrap; 
}

.navbar Link{
    font-size: 64px;
}

.custom-nav {
    
}

.gradient-menu {
    display: flex;
    margin: auto;
    height: 120px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 12px;
    background: var(--blue-bg); 
    flex-grow: 1; 
    flex-direction: row; 
    padding: 1rem; 
    margin-right: 1rem; 
}

.logoMenu {
    
}

.list-unstyled {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 0; 
}

.list-item {
    margin-right: 1rem; 
}

.imagem {
    max-height: 96px;
    margin: auto;
    margin-top: 8px;
}

.nav-link,
.nav-item {
    text-decoration: none;
    font-weight: bold;
    color: var(--white-bg);
    min-width: fit-content;
}

header {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    position: sticky;
    margin-bottom: 30px;
}

header figure {
    width: 120px;
    margin-top: 24px;
}

@media screen and (max-width: 550px) {
    figure {
        display: flex;
        flex-shrink: 1;
    }
    .navbar {
        margin-bottom: 16px;
    }
}
